<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.askodigital.nevardi">

    <application
        android:label="Ne Vardı?"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">
        
        <activity
            android:name="com.askodigital.nevardi.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
    </application>
</manifest>
